body {
  position: relative;
}

h1 {
  text-align: center;
}

p {
  text-align: left;
}

a {
  color: #003d62;
}




#nav-bar {
  background-color: #003d62;
}
#section1 {
  padding-top:50px;
  padding-bottom: 50px;
  color: #003d62;
  background-color: #f2f2f2;
}
#section1 a {
  color: #00b599;
}
#section2 {
  padding-top:50px;
  padding-bottom: 50px;
  color: #f2f2f2;
  background-color: #00b599;
}
#section3 {
  padding-top:50px;
  padding-bottom: 50px;
  color: #003d62;
  background-color: #f2f2f2;
}

#vid {
  width: 50%;
}

#exitButton{
  float: right;
}

.logos {
  height:100%;
}
.logos:hover {
  box-shadow: 0px 0px 5px #fff;
}

.pic {
  padding-top:100px;
  padding-bottom: 50px;
  color: #f2f2f2;
  background-color: #00b599;
  text-align: center;
}
.pic img {
  width: 275px;
  height: 300px;
  border: 7px solid #f2f2f2;
}
.pic p {
  text-align: center;
}

.line {
  border: 1px dashed #003d62;
  width: 50%;
  margin: auto;
  margin-bottom: 2%;
}
.pic_line {
  border: 1.5px solid #003d62;
  width: 40%;
  margin: auto;
}

.btn{
  background-color: #003d62;
  border: none;
}

.btn:hover{
  background-color: #00b599;
}

.FloodIt{
  display: none;
  padding: 50px;
  background-color: #003d62;
  text-align: center;
}

@media only screen and (max-width: 760px) {
  #vid {
    width: 100%;
  }

  .pic_line {
    border: 1.5px solid #003d62;
    width: 75%;
    margin: auto;
  }
  .logos {
    height:60%;
  }
}
